build
dist / media
node_modules
.DS_Store
.env*
!.env.example
.next
next-env.d.ts
tsconfig.tsbuildinfo
.vercel
.payload-kit
.playwright-cli
output

# Payload default media upload directory
public/media/
public/r/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
